body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

/* Верхнее меню */
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .menu {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header .menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

header .menu a i {
    margin-right: 8px;
}

header .menu a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Основной контент */
.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 400px;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    margin-top: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.light-theme {
    background-color: #f0f0f0;
    color: #333;
}

.dark-theme {
    background-color: #212121;
    color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #ff5722;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

h1,
p {
    margin: 0;
    padding: 10px 0;
}

#progress {
    width: 100%;
    background-color: lightgray;
    margin-top: 10px;
    display: none;
}

#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
}

#preview {
    max-width: 100%;
    margin-top: 20px;
    display: none;
}

#remainingTime {
    margin-top: 10px;
    font-weight: bold;
}

.file-upload {
    display: inline-block;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.file-upload:hover {
    background-color: #45a049;
}

#fileInput {
    display: none;
    /* Скрываем оригинальный input */
}

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.img{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10vw;
    padding: 5px;
    scale: 1.5;
}