<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Перетаскивание и увеличение изображения</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<img src="{{ url_for('static', filename='img/' + imggg) }}" alt="Image" id="image">


<script>
    const screenWidth = window.screen.width
    const screenHeight = window.screen.height
    const image = document.getElementById('image');
    let isDragging = false;
    let offsetX = 0;
    let offsetY = 0;

    let zoomLevel = 1;
    const zoomStep = 0.1; // Шаг увеличения/уменьшения

    // Перетаскивание изображения
    image.addEventListener('mousedown', (e) => {
        isDragging = true;
        offsetX = e.clientX - image.offsetLeft;
        offsetY = e.clientY - image.offsetTop;
        image.style.cursor = 'grabbing';
    });

    window.addEventListener('mousemove', (e) => {
        if (isDragging) {
            const x = e.clientX - offsetX;
            const y = e.clientY - offsetY;
            image.style.left = `${x}px`;
            image.style.top = `${y}px`;
        }
    });

    window.addEventListener('mouseup', () => {
        isDragging = false;
        image.style.cursor = 'grab';
    });

    // Увеличение и уменьшение изображения
    image.addEventListener('wheel', (e) => {
        if (e.deltaY < 0) {
            // Прокрутка вверх - увеличить
            zoomLevel += zoomStep;
        } else {
            // Прокрутка вниз - уменьшить
            zoomLevel = Math.max(0.1, zoomLevel - zoomStep);
        }
        image.style.transform = `scale(${zoomLevel})`;
    });

    // Растягиваем изображение на весь экран при загрузке
    window.addEventListener('load', () => {
        image.style.width = '100vw';
        image.style.height = '100vh';
    });
</script>

</body>
</html>
